.application {
    &__container{
        display: flex;
        flex-direction: column;
        row-gap: 1.5rem;
    }
    &__img{
        order: 1;
    }
    &__title{
        margin-bottom: 1rem;
    }
  
    &__description{
        font-weight: 400;
        font-size: clamp(1rem, 0.9671052631578947rem + 0.1644736842105263vw, 1.125rem);
        color: $text;
        text-align: center;
        margin-bottom: 0.75rem;
    }
    &__button{
        display: block;
        padding: 12px 24px;
    }
    &__form{
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;
    }
    &__green{
        background: $primary33;
        color: #fff;
        font-weight: 400;
        border-radius: 4px;
    }

    &__body{
        border: 1px solid  $primary33;
        font-weight: 600;
        border-radius: 4px;
    }

    // giải pháp

    @media screen and (max-width: 300px) {
        padding-block: 3.5rem 0px;
    }
    @media screen and (max-width: 400px) {
        padding-block: 3.1rem 0px;
        &__container{
            width: 342px;
            margin: 0 auto;
            row-gap: 1.1rem;
        }
        &__title {
            letter-spacing: -1px;
            display: none;
        }
        &__heading{
            display: block;
            line-height: 1.15;
        }
        &__mobile{
            letter-spacing: -1.4px !important;
            margin-right: 10px;
        }
        &__description{
            letter-spacing: -0.1px;
            margin-bottom: 0.9rem;
        }
        &__button{
            padding: 14px 24px 14px;
        }
        &__form {
            row-gap: 0.8rem;
            height: 117px;
        }
        &__body{
            padding: 14px 24px 15px;
        }
    }
    @media screen and (min-width: 400px) {
        padding-block: 3rem 0rem;
        &__title{
            display: block;
        }
        &__heading{
            display: none;
        }
    }
    @media screen and (min-width: 575px) {
        &__form{
            flex-direction: row;
            column-gap: 1rem;
            justify-content: center;
        }
        &__description{
            margin-bottom: 3rem;
        }
        &__button {
            margin-top: 1rem;
        }
    }
    @media screen and (min-width: 768px) {
        padding-block: 5rem 2rem;
        &__container{
            flex-direction: row;
            column-gap: 2.4rem;
            align-items: center;
            justify-content: center;
        }
        &__title,
        &__description{
            text-align: initial;
        }
        &__form{
            justify-content: initial;
        }

        &__data{
            width: 300px;
        }
        &__img{
            width: 400px;
        }
        &__button{
            padding: 12px 7px;
            margin-top: 0;
        }
    }
    @media screen and (min-width: 1024px) {
        &__img{
            order: -1;
            width: 550px;
        }
        &__data{
            width: 400px;
        }
    }
    @media screen and (min-width: 1150px){
        &__container{
            column-gap: 1.5rem;
            justify-content: initial;
        }
        &__img{
            width: 670px;
        }
        &__data{
            width: 470px;
        }
        &__mains{
            margin-top: 4rem;
            column-gap: 1.5rem;
        }
        &__button {
            width: 191px;
        }
        &-heading{
            margin-top: -4px;
            transform: translateX(-2px);
            margin-bottom: -3px;
        }
    }
}