$header-height: 3.5rem;

// colors
$primary33: #33B44A;
$green-light: #EBF8ED;
$primary29: #29903B;
$primary2e: #2e9540;
$primary2b: #ebf8ed;
$primary77: #77c882;
$primaryeb: #EBF8ED;

$black: #1A1A1A;
$black3a: #3A424E;
$black17: #171717;
$black28: #282828;
$black32: #323232;
$bg-gray: #292f3a;
$text: #626F82;
$text3a: #3A424E;
$texte0: #e0e2e6;
$texta8: #a8a8a8; 
$textb7: #b7b7b7; 
$text36: #363636;
$text31: #313131;
$texta3: #a3a3a3;
$textf3: #F3F4F5;
$textc0: #C0C5CD;
$text-heading: #2d3958;
$text-black: #120f1f;
$black-color-lighten: hsl(220, 20%, 18%);
$yellow: #FFF500;


// fonts
$font-family: "Lexend", sans-serif;