html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1170px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}

.button {
  padding: 10px 23px;
  background-color: #33B44A;
  color: #fff;
  font-weight: 600;
  font-size: clamp(0.875rem, 0.8421052632rem + 0.1644736842vw, 1rem);
  display: none;
}

.title {
  font-size: clamp(2.5rem, 2.1710526316rem + 1.6447368421vw, 3.75rem);
  font-weight: 600;
  color: #29903B;
  margin-bottom: 0.5rem;
}

.scrollup {
  position: fixed;
  padding: 6px 10px;
  background-color: #33B44A;
  right: 1.5rem;
  bottom: -50%;
  z-index: 10;
  font-size: 1.25rem;
  color: #fff;
  border-radius: 0.25rem;
  display: inline-flex;
  transition: bottom 0.4s, transform 0.4s, background-color 0.4s;
  box-shadow: 1px 0px 5px 4px #439c53;
}
.scrollup i {
  font-weight: 700;
}

.show-scroll {
  bottom: 7.5rem;
}

.contact {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 20px 20px 0 0;
  background-color: #fff;
  z-index: 100;
  box-shadow: 0 -2px 7px #C1C1C1;
}
.contact__data {
  grid-template-columns: repeat(3, 1fr);
  padding: 10px 10px 15px 10px;
}
.contact__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #e0e2e6;
  row-gap: 0.5rem;
}
.contact__content:last-child {
  border-right: none !important;
}
.contact__content a img {
  width: 44px;
  height: 44px;
}
.contact__span {
  font-weight: 400;
  font-size: 1rem;
  color: #1A1A1A;
}

::-webkit-scrollbar {
  width: 0.6rem;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #adadad;
}

@media screen and (max-width: 300px) {
  .container {
    margin-inline: 1rem;
  }
  .title {
    margin-bottom: 0.5rem;
  }
  .section {
    padding-block: 7rem 2rem;
  }
}
@media screen and (min-width: 1118px) {
  .show-scroll {
    bottom: 6.5rem;
  }
  .contact {
    transform: rotate(90deg);
    bottom: 19rem;
    left: unset;
    right: -8rem;
    border-radius: 0 0 20px 20px;
  }
  .contact__data {
    grid-template-columns: none !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
  }
  .contact__content {
    flex-direction: row;
    padding: 0.75rem 0;
  }
  .contact__content a img {
    transform: rotate(-90deg);
  }
  .contact_span {
    transform: rotate(-90deg);
  }
  .contact__data {
    padding: 20px 10px 20px 10px;
    gap: 0.75rem;
  }
}
@media screen and (min-width: 1118px) and (min-width: 1200px) {
  .container {
    margin-inline: auto;
  }
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Lexend", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

header {
  position: relative;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: 10;
}
.header__bg {
  background-image: url(../img/header.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.header__icons {
  background: linear-gradient(to bottom, #1ED077, #06BC61);
  padding: 10px;
  display: inline-block;
  border-radius: 6px;
  margin-bottom: 1rem;
  box-shadow: 0px 8px 10px rgb(193, 232, 200);
}
.header__icons img {
  width: 27.64px;
  height: 40.69px;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__heading {
  margin-bottom: 0.75rem;
  font-weight: 600;
  font-size: clamp(1.25rem, 1.0526315789rem + 0.9868421053vw, 2rem);
}
.header__buttons {
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;
}
.header__green {
  background: #33B44A;
  color: #fff;
  font-size: clamp(0.875rem, 0.8421052632rem + 0.1644736842vw, 1rem);
  display: block;
  padding: 10px;
  border-radius: 4px;
  font-weight: 600;
}
.header__white {
  color: #1A1A1A;
  border: 1px solid #33B44A;
  padding: 10px;
  display: block;
  border-radius: 4px;
  font-size: clamp(0.875rem, 0.8421052632rem + 0.1644736842vw, 1rem);
  font-weight: 600;
}
@media screen and (min-width: 575px) {
  .header__container {
    padding-block: 7rem 1rem;
  }
  .header__buttons {
    flex-direction: row;
    -moz-column-gap: 1.25rem;
         column-gap: 1.25rem;
  }
}
@media screen and (min-width: 768px) {
  .header__container {
    padding-block: 3rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header__images {
    width: 450px;
  }
}
@media screen and (min-width: 1024px) {
  .header__images {
    width: 540px;
  }
  .header__data {
    width: 450px;
  }
}
@media screen and (min-width: 1170px) {
  .header__container {
    -moz-column-gap: 1.8rem;
         column-gap: 1.8rem;
    padding-block: 3rem 0;
  }
  .header__images {
    width: 671px;
  }
  .header__data {
    width: 469px;
  }
}
@media screen and (max-width: 300px) {
  .header__container {
    padding-block: 5rem 1.4rem;
  }
  .header__icons {
    margin-bottom: 0.5rem;
  }
}

.shadow-header {
  box-shadow: 0 2px 16px hsla(220, 32%, 8%, 0.3);
  background-color: #fff;
}

.nav {
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__login {
  display: flex;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.nav__logo img {
  width: 70px;
}
.nav__toggle {
  position: relative;
}
.nav__burge, .nav__close {
  cursor: pointer;
  font-size: 1.5rem;
}
.nav__burger, .nav__close {
  color: #1A1A1A;
}
.nav__link {
  color: #1A1A1A;
  font-weight: 600;
  padding: 1.25rem 1.5rem;
  display: flex;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  align-items: center;
  font-family: "Lexend", sans-serif;
  font-size: 16px;
}
.nav__actions {
  display: flex;
  align-items: center;
  -moz-column-gap: 0.25rem;
       column-gap: 0.25rem;
  font-size: 14px;
}
.nav__button {
  margin: 1rem auto 2rem;
  border-radius: 4px;
}
.nav__data {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1118px) {
  .nav__menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    transition: right 0.4s;
    background-color: #fff;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    z-index: 100;
  }
  .nav__list {
    background-color: var(--black-color);
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    padding: 4rem 0 0 1rem;
  }
  .nav__close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
  }
}
@media screen and (min-width: 1118px) {
  .nav {
    height: 5.5rem;
  }
  .nav__toggle, .nav__close {
    display: none;
  }
  .nav__list {
    height: 100%;
    display: flex;
    -moz-column-gap: 3rem;
         column-gap: 3rem;
    align-items: center;
  }
  .nav__link {
    height: 100%;
    padding: 0;
    justify-content: initial;
    -moz-column-gap: 0.25rem;
         column-gap: 0.25rem;
  }
}
@media screen and (max-width: 340px) {
  .nav__link {
    padding-inline: 1rem;
  }
}

.dropdown__item {
  cursor: pointer;
}
.dropdown__menu, .dropdown__submenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}
.dropdown__link, .dropdown__sublink {
  padding: 1.25rem 1.25rem 1.25rem 2.5rem;
  display: flex;
  align-items: center;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  font-weight: 600;
  transition: background-color 0.3s;
  font-size: 14px;
}
.dropdown__link i, .dropdown__sublink i {
  font-size: 1.25rem;
  font-weight: initial;
}
.dropdown__link {
  border: none;
  color: #1A1A1A;
  font-size: 16px;
  font-weight: 400;
}
.dropdown__link i, .dropdown__sublink i {
  font-size: 1.25rem;
  font-weight: initial;
}
.dropdown__arrow {
  font-size: 1.25rem;
  font-weight: initial;
  transition: transform 0.4s;
}
.dropdown__arrow:hover {
  transform: rotate(180deg);
}
.dropdown__item:hover .dropdown__arrow {
  transform: rotate(180deg);
}
.dropdown__item:hover .dropdown__menu {
  max-height: 1000px;
  transition: max-height 0.4s ease-in;
}
.dropdown__item:hover .dropdown__menu {
  opacity: 1;
  top: 2rem;
  pointer-events: initial;
  transition: top 0.3s;
}
@media screen and (min-width: 1118px) {
  .dropdown__item {
    position: relative;
  }
  .dropdown__menu {
    background-color: #fff;
    max-height: initial;
    overflow: initial;
    position: absolute;
    left: 0;
    top: 6rem;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s, top 0.3s;
  }
  .dropdown__menu {
    width: 240px;
  }
  .dropdown__menu:hover {
    opacity: 1;
    top: 0;
    pointer-events: initial;
    transition: top 0.3s;
  }
  .dropdown__link {
    padding: 1rem 1rem;
  }
  .dropdown__link:hover {
    background: #f5f5f5;
  }
}

.show-menu {
  right: 0;
}

.home {
  background-color: #33B44A;
  position: relative;
}
.home__mains {
  padding-top: 15rem;
}
.home__contents {
  row-gap: 0.5rem;
}
.home__content {
  position: absolute;
  top: -2.5rem;
  left: 1rem;
  right: 1rem;
}
.home__list {
  display: flex;
  -moz-column-gap: 12px;
       column-gap: 12px;
  background: #fff;
  padding: 0.7rem;
  border-radius: 4px;
  box-shadow: 0 -2px 7px rgba(0, 0, 0, 0.1);
}
.home__icon {
  padding: 11px 14.3px;
  background: #EBF8ED;
  border-radius: 4px;
}
.home__icon img {
  width: 24.17px;
  height: 24px;
}
.home__cart {
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
}
.home__des {
  font-weight: 600;
  font-size: 16px;
}
.home__desc {
  font-size: 14px;
  font-weight: 400px;
  color: #626F82;
}
.home__icons {
  background: #EBF8ED;
  padding: 10px;
  border-radius: 6px;
  height: 50px;
}
.home__icons img {
  width: 50.6px;
  height: 32px;
}
.home__title {
  font-size: clamp(1.5rem, 1.2368421053rem + 1.3157894737vw, 2.5rem);
  font-weight: 600;
  color: #fff;
  margin-bottom: 1rem;
  line-height: 1.4;
}
.home__title br {
  display: none;
}
.home__description {
  color: #fff;
  font-weight: 400;
  margin-bottom: 1rem;
  font-size: 16px;
}
.home__descs {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
}
.home__images {
  margin-top: 1.5rem;
}
.home__manage {
  background: #EBF8ED;
  padding: 9px;
  border-radius: 4px;
  height: 50px;
}
.home__manage img {
  width: 66.4px;
}
.home__work {
  background: #EBF8ED;
  padding: 9px;
  border-radius: 4px;
  height: 50px;
}
.home__work img {
  width: 37.2px;
  height: 32px;
}
.home__images img {
  margin: 0 auto;
}
@media screen and (min-width: 400px) {
  .home {
    padding-block: 5rem 3rem;
  }
  .home__icons {
    margin-bottom: 0.5rem;
  }
  .home__manage img {
    width: 37.8px;
  }
  .home__icons img {
    width: 30px;
    height: 32px;
  }
  .home__work img {
    width: 32.2px;
    height: 32px;
  }
  .home__mains {
    padding-top: 13.5rem;
  }
}
@media screen and (min-width: 575px) {
  .home__images {
    margin-top: 3.5rem;
  }
  .home__content {
    grid-template-columns: repeat(2, 1fr);
    top: -3rem;
  }
  .home__mains {
    padding-top: 9.5rem;
  }
}
@media screen and (min-width: 768px) {
  .home__main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 9.5rem;
    -moz-column-gap: 2.4rem;
         column-gap: 2.4rem;
  }
  .home__images {
    width: 400px;
    margin-top: 0;
  }
  .home__mains {
    width: 300px;
    padding-top: 0;
  }
}
@media screen and (min-width: 1024px) {
  .home__content {
    grid-template-columns: repeat(3, 1fr);
  }
  .home__main {
    padding-top: 5rem;
  }
  .home__images {
    width: 550px;
  }
  .home__mains {
    width: 400px;
  }
  .home__title br {
    display: block;
  }
}
@media screen and (min-width: 1350px) {
  .home__images {
    width: 845px;
    transform: translateX(60px);
  }
  .home__main {
    -moz-column-gap: 0;
         column-gap: 0;
  }
}
@media screen and (min-width: 1400px) {
  .home__images {
    width: 845px;
    transform: translateX(80px);
  }
  .home__mains {
    width: 570px;
  }
}
@media screen and (min-width: 1450px) {
  .home__images {
    width: 845px;
    transform: translateX(100px);
  }
}
@media screen and (min-width: 1500px) {
  .home__images {
    width: 845px;
    transform: translateX(130px);
  }
}
@media screen and (max-width: 300px) {
  .home {
    padding-bottom: 2.5rem;
  }
  .home__content {
    gap: 1rem;
  }
}

.model {
  background-image: url(../img/bg-model.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  --width: 100%;
  --height: 40%;
}
.model__container {
  position: relative;
}
.model_title {
  font-weight: 600;
  font-size: clamp(1.5rem, 1.2368421053rem + 1.3157894737vw, 2.5rem);
  color: #fff;
  margin-bottom: 0.75rem;
  text-align: center;
}
.model__desc {
  font-weight: 400;
  color: #a8a8a8;
  margin-bottom: 1.5rem;
  text-align: center;
  font-size: clamp(1rem, 0.9671052632rem + 0.1644736842vw, 1.125rem);
}
.model__subtitle {
  display: flex;
  align-items: center;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  margin-bottom: 1rem;
}
.model__data {
  padding: 0 1rem 0 1rem;
  gap: 0;
  border: 1px solid #555555;
  margin-bottom: 0.5rem;
  background-color: #282828;
}
.model__content {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.model__list {
  padding: 1rem;
}
.model__list :first-child {
  border-top: none;
}
.model__list:nth-child(2), .model__list:nth-child(3), .model__list:nth-child(4) {
  border-top: 1px solid #555555;
}
.model__icons {
  padding: 0.875rem;
  border-radius: 50%;
  background: #363636;
  width: 50px;
}
.model__icon {
  width: 22px;
  height: 22px;
  color: #fff;
}
.model__icon-img {
  padding: 3px;
  border: 2px dashed #363636;
  border-radius: 50%;
}
.model__span {
  color: #33B44A;
  font-weight: 600;
  font-size: 18px;
}
.model__price {
  display: flex;
  align-items: center;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  row-gap: 0.5rem;
}
.model__des {
  font-weight: 400;
  font-size: clamp(0.875rem, 0.8421052632rem + 0.1644736842vw, 1rem);
  color: #fff;
  line-height: 1.5;
}
.model__add-line {
  display: flex;
  align-items: center;
  justify-content: center;
}
.model__add {
  background: #2e9540;
  padding: 4px 10px;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  border: 2px solid #33b44a;
}
.model i {
  color: #fff;
  font-size: 1.5rem;
}
.model-solution {
  display: none;
}
.model__solution {
  margin-top: 0.5rem;
  background-image: linear-gradient(to right, #27382a, #2f873f, #27382a);
}
.model__solution-code {
  padding: 1rem 1rem 1rem 1rem;
  border: 1px solid #29903B;
  gap: 1rem;
}
.model__heading {
  color: #fff;
  font-weight: 600;
  font-size: clamp(1.125rem, 1.0921052632rem + 0.1644736842vw, 1.25rem);
  text-align: center;
}
.model__hero {
  grid-template-columns: repeat(auto-fit, minmax(146px, 1fr));
  gap: 1rem;
}
.model__body {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 16px;
  border-radius: 4px;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.model__descs {
  font-size: 14px;
  font-weight: 600;
}
.model-data {
  padding-top: 3rem;
  gap: 3rem;
}
.model-project {
  position: relative;
}
.model-list {
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  padding: 1.18rem;
  border-radius: 4px;
}
.model-list img {
  width: 88.71px;
  height: 80px;
}
.model-white {
  background: #fff;
  border-radius: 4px;
}
.model__arrow {
  position: absolute;
  height: 70px;
  left: 50%;
  transform: translate(-50%, -16%);
}
.model__arrow i {
  color: #2e9540;
  font-size: 3rem;
}
.model__arrow-line {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #2e9540;
  border-radius: 50%;
  left: 50%;
  transform: translate(-50%, 15%);
}
.model-img {
  position: absolute;
  top: -0.5rem;
  left: 7%;
}
.model-desc {
  margin-right: -110px;
  font-weight: 600;
  font-size: 16px;
}
.model-desc__white {
  color: #fff;
  margin-right: -75px;
}
.model-list__desc {
  background: #2a963d;
}
.model__down-line {
  display: none;
}
@media screen and (min-width: 575px) {
  .model__data {
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
    row-gap: 1.5rem;
    margin-bottom: 1rem;
  }
  .model__solution {
    margin-top: 1rem;
  }
  .model__list:nth-child(2), .model__list:nth-child(3), .model__list:nth-child(4) {
    border-top: none !important;
    border-left: 1px solid #555555;
  }
  .model__list:nth-child(3) {
    border-left: none !important;
  }
}
@media screen and (min-width: 400px) {
  .model {
    padding-block: 3rem 3.5rem;
  }
  .model-img {
    left: 18%;
  }
  .model__arrow-line {
    transform: translate(-50%, 45%);
  }
  .model .arrow__line {
    transform: translate(-50%, -12%);
  }
  .model__desc {
    margin-bottom: 2.5rem;
  }
}
@media screen and (min-width: 575px) {
  .model-img {
    left: 6%;
  }
  .model-data {
    grid-template-columns: repeat(2, 1fr);
  }
  .model .arrow__line {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .model {
    padding-block: 4rem 4rem;
  }
  .model__desc {
    margin-bottom: 3.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .model__data {
    grid-template-columns: repeat(4, 1fr);
  }
  .model-data {
    position: relative;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 5rem;
  }
  .model-data::before {
    position: absolute;
    content: "";
    width: 31.6%;
    height: 15%;
    border-bottom: 4px solid #29903B;
    border-right: 4px solid #29903B;
    bottom: 76%;
    left: 50%;
    transform: translate(-99.4%, -50%);
  }
  .model .model__list:nth-child(2) {
    border-top: none !important;
    border-left: 1px solid #555555;
  }
  .model__list:nth-child(3) {
    border-left: 1px solid #555555 !important;
  }
  .model__solution {
    display: none;
  }
  .model-solution {
    display: block;
    background-image: linear-gradient(to right, #27382a, #2f873f, #27382a);
    margin-top: 1rem;
  }
  .model-hero {
    padding: 0.75rem;
    border: 1px solid #29903B;
    gap: 0.75rem;
    grid-template-columns: repeat(7, 1fr);
  }
  .model__heading {
    display: flex;
    align-items: center;
  }
  .model__body {
    flex-direction: column;
    row-gap: 0.5rem;
  }
  .model__descs {
    text-align: center;
  }
  .model__down-line {
    position: absolute;
    top: 80.75%;
    left: 18.5%;
    transform: translate(-50%, -50%);
    color: #29903B !important;
    font-size: 2.5rem !important;
    display: block;
  }
  .model__arrow i {
    display: none;
  }
}
@media screen and (min-width: 1150px) {
  .model-data {
    grid-template-columns: repeat(4, 1fr);
    padding-top: 4rem;
  }
  .model-data::before {
    bottom: 67%;
    width: 37.94%;
    height: 20%;
    z-index: 1;
  }
  .model__down-line {
    top: 90.7%;
    left: 12.5%;
  }
  .model__list {
    padding: 1rem 1.5rem 1rem 2rem;
  }
  .model__data {
    padding: 1rem 0 1rem;
  }
  .model .arrow__line {
    display: block;
    position: absolute;
    transform: rotate(-90deg);
    left: 100%;
    bottom: 10%;
  }
}

.arrow__line {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -27%);
  font-size: 3rem !important;
}

.highlights-content {
  display: none;
}
.highlights__title, .highlights-title {
  font-weight: 600;
  text-align: center;
  font-size: clamp(1.5rem, 1.2368421053rem + 1.3157894737vw, 2.5rem);
  margin-bottom: 1.5rem;
}
.highlights__images, .highlights-images {
  display: none;
}
.highlights-cart {
  box-shadow: 4px 0 0px #e0e2e6, -4px 0 0px #e0e2e6 !important;
}
.highlights__card, .highlights-card {
  box-shadow: 4px 0 0px #d6f0db, -4px 0 0px #d6f0db;
  border-radius: 20px;
}
.highlights__card-link, .highlights-card-link {
  padding: 1rem;
}
.highlights__icon, .highlights-icon {
  display: flex;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  margin-bottom: 1rem;
}
.highlights__des, .highlights-des {
  font-size: clamp(1.125rem, 1.0921052632rem + 0.1644736842vw, 1.25rem);
  font-weight: 600;
}
.highlights__green, .highlights-green {
  color: #29903B;
}
.highlights__list, .highlights-list {
  padding: 0 0 0 1.75rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
}
.highlights__list li, .highlights-list li {
  list-style-type: disc;
  color: #626F82;
}
.highlights__description, .highlights-description {
  font-weight: 400;
  color: #626F82;
}
.highlights-mains {
  display: none;
}
@media screen and (max-width: 300px) {
  .highlights {
    padding-block: 3rem;
  }
  .highlights__title {
    margin-bottom: 1rem;
  }
  .highlights__card-link {
    padding: 1rem 0.75rem;
  }
}
@media screen and (min-width: 400px) {
  .highlights {
    padding-block: 3.5rem 1rem;
  }
}
@media screen and (min-width: 575px) {
  .highlights__content {
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
  }
  .highlights__title {
    margin-bottom: 2.5rem;
  }
}
@media screen and (min-width: 768px) {
  .highlights__content {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 992px) {
  .highlights {
    padding-block: 4.5rem 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .highlights {
    padding-block: 6rem 0;
  }
}
@media screen and (min-width: 1150px) {
  .highlights-images {
    display: block;
    width: 556px;
    height: 480px;
  }
  .highlights__content {
    display: none;
  }
  .highlights-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .highlights-mains {
    display: flex;
    -moz-column-gap: 5rem;
         column-gap: 5rem;
    justify-content: center;
    margin-top: 2rem;
  }
  .highlights__system {
    width: 271px;
  }
  .highlights__manage {
    width: 307px;
  }
  .highlights__application {
    width: 270px;
  }
  .highlights-card {
    height: 350px;
  }
  .highlights__unique {
    height: 278px;
  }
  .highlights__integration {
    height: 302px;
  }
  .highlights__sell {
    height: 243.85px;
  }
  .highlights__body:nth-child(odd) {
    transform: translateY(-7rem);
  }
  .highlights__body-card {
    height: 299px;
  }
  .highlights-cart {
    width: 270px;
  }
  .highlights-icon {
    flex-direction: column;
    row-gap: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .highlights-green {
    text-align: center;
  }
  .highlights-list {
    padding: 0 0.5rem 0 3.75rem;
    row-gap: 0;
  }
  .highlights-card-link {
    padding: 1rem 1.6rem;
  }
  .highlights-des {
    text-align: center;
  }
  .highlights__title {
    margin-bottom: 4.5rem;
  }
}

.feature {
  background-image: url(../img/feature__img.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 3rem;
  background-position: center;
}
.feature__button {
  padding: 10px 16px;
  width: 199px;
  display: block;
  border-radius: 4px;
  font-weight: 400;
}
.feature__agency {
  width: 220px;
}
.feature__title {
  font-weight: 700;
  font-size: clamp(1.5rem, 1.2368421053rem + 1.3157894737vw, 2.5rem);
  text-align: center;
  margin-bottom: 1.5rem;
  font-family: "Allerta", sans-serif;
}
.feature__data {
  width: 100%;
  display: flex;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  text-align: center;
  overflow-x: auto;
  margin-bottom: 1rem;
}
.feature__mains {
  display: flex;
  flex-direction: column;
}
.feature__body {
  color: #1A1A1A;
  border: 1px solid #e0e2e6;
}
.feature__desc {
  color: #3A424E;
}
.feature__price {
  display: flex;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}
.feature__price img {
  height: 16px;
  width: 16px;
}
.feature__heading {
  font-weight: 600;
  color: #1A1A1A;
  font-size: clamp(1.25rem, 1.0526315789rem + 0.9868421053vw, 2rem);
  text-align: center;
}
.feature__content {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.feature__img img {
  margin: 1.5rem auto 1rem;
}
@media screen and (max-width: 300px) {
  .feature {
    padding-block: 2rem 3rem;
  }
}
@media screen and (min-width: 768px) {
  .feature {
    padding-bottom: 5rem;
  }
  .feature__mains {
    flex-direction: row;
    margin-top: 3rem;
    -moz-column-gap: 2.4rem;
         column-gap: 2.4rem;
    align-items: center;
    justify-content: center;
  }
  .feature__title {
    margin-bottom: 2rem;
  }
  .feature__img img {
    margin: 0 auto 0;
  }
  .feature__img {
    order: 1;
    width: 400px;
  }
  .feature__img img {
    width: 100%;
  }
  .feature__content {
    width: 300px;
  }
  .feature__heading {
    text-align: initial;
  }
  .feature__data {
    justify-content: center;
  }
}
@media screen and (min-width: 1024px) {
  .feature {
    padding-block: 7rem 5rem;
  }
  .feature__img {
    width: 550px;
  }
  .feature__content {
    width: 400px;
  }
}
@media screen and (min-width: 1150px) {
  .feature__img {
    width: 665.8px;
  }
  .feature__content {
    width: 471px;
  }
  .feature__mains {
    margin-top: 4rem;
    -moz-column-gap: 1.5rem;
         column-gap: 1.5rem;
  }
}

.ui-tabs .ui-tabs-nav {
  padding: 0 0 0 0 !important;
}

.ui-tabs {
  padding: 0 !important;
}

.ui-widget-header {
  border: none !important;
  background: none !important;
  color: #333333;
  font-weight: none !important;
}

.ui-tabs .ui-tabs-nav li {
  margin: 0 !important;
}

.ui-widget.ui-widget-content {
  border: none !important;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
  border: none !important;
  background: #33b44a !important;
  color: #ffffff !important;
}

.ui-widget-content {
  background: none !important;
}

.ui-tabs .ui-tabs-panel {
  padding: 0 !important;
}

.application__container {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
.application__img {
  order: 1;
}
.application__title {
  margin-bottom: 1rem;
}
.application__description {
  font-weight: 400;
  font-size: clamp(1rem, 0.9671052632rem + 0.1644736842vw, 1.125rem);
  color: #626F82;
  text-align: center;
  margin-bottom: 0.75rem;
}
.application__button {
  display: block;
  padding: 12px 24px;
}
.application__form {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.application__green {
  background: #33B44A;
  color: #fff;
  font-weight: 400;
  border-radius: 4px;
}
.application__body {
  border: 1px solid #33B44A;
  font-weight: 600;
  border-radius: 4px;
}
@media screen and (max-width: 300px) {
  .application {
    padding-block: 3.5rem 0px;
  }
}
@media screen and (min-width: 400px) {
  .application {
    padding-block: 3rem 0rem;
  }
}
@media screen and (min-width: 575px) {
  .application__form {
    flex-direction: row;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
    justify-content: center;
  }
  .application__description {
    margin-bottom: 3rem;
  }
}
@media screen and (min-width: 768px) {
  .application {
    padding-block: 5rem 2rem;
  }
  .application__container {
    flex-direction: row;
    -moz-column-gap: 2.4rem;
         column-gap: 2.4rem;
    align-items: center;
    justify-content: center;
  }
  .application__title, .application__description {
    text-align: initial;
  }
  .application__form {
    justify-content: initial;
  }
  .application__data {
    width: 300px;
  }
  .application__img {
    width: 400px;
  }
  .application__button {
    padding: 12px 7px;
  }
}
@media screen and (min-width: 1024px) {
  .application__img {
    order: -1;
    width: 550px;
  }
  .application__data {
    width: 400px;
  }
}
@media screen and (min-width: 1150px) {
  .application__container {
    -moz-column-gap: 1.5rem;
         column-gap: 1.5rem;
  }
  .application__img {
    width: 670px;
  }
  .application__data {
    width: 470px;
  }
  .application__mains {
    margin-top: 4rem;
    -moz-column-gap: 1.5rem;
         column-gap: 1.5rem;
  }
}

.enterprise {
  background-image: url(../img/enterprise.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.enterprise__imag {
  display: flex;
  flex-direction: column;
}
.enterprise-img {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}
.enterprise__heading {
  text-align: center;
  color: #33B44A;
}
.enterprise__content {
  display: grid;
  row-gap: 1rem;
}
.enterprise__content img {
  width: 16px;
  height: 16px;
}
.enterprise__price {
  display: flex;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}
.enterprise__article {
  padding-bottom: 3rem;
}
@media screen and (min-width: 400px) {
  .enterprise {
    padding-block: 6rem 3rem;
  }
  .enterprise__content {
    row-gap: 1.25rem;
  }
}
@media screen and (min-width: 768px) {
  .enterprise__imag {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    -moz-column-gap: 2.4rem;
         column-gap: 2.4rem;
  }
  .enterprise-img {
    width: 400px;
  }
  .enterprise__heading {
    text-align: initial;
  }
  .enterprise__contents {
    width: 300px;
  }
}
@media screen and (min-width: 1024px) {
  .enterprise-img {
    width: 550px;
    margin-top: 0;
  }
  .enterprise__contents {
    width: 400px;
  }
}
@media screen and (min-width: 1150px) {
  .enterprise__imag {
    -moz-column-gap: 1.5rem;
         column-gap: 1.5rem;
  }
  .enterprise-img {
    width: 670px;
  }
  .enterprise__contents {
    width: 470px;
  }
  .enterprise__heading {
    margin-bottom: 1.25rem;
  }
}

.enterprise .swiper-pagination-bullets {
  bottom: -2.5rem;
}

.enterprise .swiper-pagination-bullet {
  border-radius: 1rem;
  background-color: #C0C5CD;
  transition: background-color 0.3s, width 0.3s;
  opacity: unset;
}

.swiper-pagination-bullet-active {
  background-color: #33B44A !important;
  width: 1.5rem !important;
}

.cooperate {
  background-color: #ebf8ed;
  padding-block: 4rem;
}
.cooperate__title {
  font-weight: 600;
  color: #29903B;
  text-align: center;
  font-size: clamp(1.5rem, 1.2368421053rem + 1.3157894737vw, 2.5rem);
  margin-bottom: 0.25rem;
}
.cooperate__desc {
  font-weight: 400;
  color: #626F82;
  text-align: center;
  font-size: clamp(1rem, 0.9671052632rem + 0.1644736842vw, 1.125rem);
  margin-bottom: 1.5rem;
}
.cooperate__data {
  display: grid;
  gap: 1rem;
}
.cooperate__slider {
  width: 100%;
  height: var(--height);
  overflow: hidden;
}
.cooperate__slider .cooperate__list {
  display: flex;
  width: 100%;
  min-width: calc(var(--width) * var(--quatity));
  position: relative;
}
.cooperate__slider .cooperate__list .cooperate__item {
  width: var(--width);
  height: var(--height);
  position: absolute;
  left: 100%;
  animation: autoRun 10s linear infinite;
  transition: filter 0.5s;
  animation-delay: calc(10s / var(--quatity) * (var(--position) - 1)) !important;
  background: #fff;
  display: flex;
  align-items: center;
}
.cooperate__slider[reverse=true] .cooperate__item {
  animation: reversePlay 10s linear infinite;
}
.cooperate__item-link {
  padding: 10px 20px;
  margin: 0 auto;
}
@media screen and (max-width: 300px) {
  .cooperate {
    padding-block: 3.5rem 3rem;
  }
}
@media screen and (min-width: 400px) {
  .cooperate {
    padding-block: 4rem;
  }
}
@media screen and (min-width: 575px) {
  .cooperate__desc {
    margin-bottom: 2.5rem;
  }
}
@media screen and (min-width: 768px) {
  .cooperate {
    padding-block: 5rem;
  }
}

@keyframes autoRun {
  0% {
    left: 100%;
  }
  100% {
    left: calc(var(--width) * -1);
  }
}
@keyframes reversePlay {
  from {
    left: calc(var(--width) * -1);
  }
  to {
    left: 100%;
  }
}
.imprint {
  padding-block: 3rem 1rem;
}
.imprint__container {
  position: relative;
}
.imprint__content, .imprint-content {
  display: flex;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  justify-content: center;
}
.imprint__content img, .imprint-content img {
  width: 150px;
  height: 120px;
}
.imprint__content img :nth-child(2), .imprint-content img :nth-child(2) {
  order: 2;
}
.imprint__contents, .imprint-contents {
  width: 184px;
}
.imprint__desc, .imprint-desc {
  font-weight: 600;
  color: #1A1A1A;
  margin-bottom: 0.25rem;
}
.imprint__des, .imprint-des {
  color: #626F82;
  font-weight: 400;
  font-size: clamp(0.875rem, 0.8421052632rem + 0.1644736842vw, 1rem);
}
.imprint__rounder {
  display: block;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #ebf8ed;
  display: none;
}
.imprint__line {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #ebf8ed;
  transform: translate(6px, -7px);
  display: none;
}
.imprint__data {
  display: none;
}
.imprint__images {
  display: none;
}
@media screen and (max-width: 300px) {
  .imprint {
    padding-block: 3rem 1rem;
  }
  .imprint__content img {
    width: 110px;
  }
  .imprint__contents {
    width: 140px;
  }
}
@media screen and (min-width: 400px) {
  .imprint {
    padding-block: 4rem 1rem;
  }
  .imprint__content {
    -moz-column-gap: 1.5rem;
         column-gap: 1.5rem;
  }
}
@media screen and (min-width: 575px) {
  .imprint__title {
    margin-bottom: 2.5rem;
  }
  .imprint__desc {
    margin-bottom: 0.5rem;
  }
  .imprint__content img {
    width: 193.86px;
    height: 150px;
  }
  .imprint__content, .imprint-content {
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
  .imprint__content img, .imprint-content img {
    width: 200px;
    height: 160px;
  }
  .imprint__content img :nth-child(2), .imprint-content img :nth-child(2) {
    order: 2;
  }
  .imprint-content {
    flex-direction: column;
  }
  .imprint-data {
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    -moz-column-gap: 3rem;
         column-gap: 3rem;
  }
  .imprint__content {
    flex-direction: row;
  }
  .imprint-content {
    row-gap: 1rem;
  }
  .imprint-contents {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .imprint-data {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 3rem;
  }
}
@media screen and (min-width: 920px) {
  .imprint-data {
    display: none;
  }
  .imprint__data {
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    row-gap: 3rem;
    display: grid;
  }
  .imprint__content {
    display: flex;
    flex-direction: column;
    row-gap: 0.75rem;
  }
  .imprint__content:nth-child(even) {
    transform: translateY(3rem);
  }
  .imprint__contents {
    text-align: center;
  }
  .imprint__content img {
    margin: 0 auto;
  }
  .imprint__contents {
    padding: 0 1rem 1rem 1rem;
    width: unset;
  }
}
@media screen and (min-width: 1024px) {
  .imprint {
    padding-block: 7rem 5rem;
  }
  .imprint__images {
    display: none;
  }
}
@media screen and (min-width: 1400px) {
  .imprint {
    padding-block: 7rem 5rem;
  }
  .imprint__images {
    z-index: -1;
    display: unset;
    position: absolute;
    top: 70.5%;
    left: 49%;
    transform: translate(-50%, -50%);
    width: 1920px !important;
  }
}

.newspapers {
  padding-block: 5rem 4rem;
}
.newspapers__title {
  margin-bottom: 1.5rem;
}
.newspapers__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  gap: 1rem;
  margin-bottom: 1.5rem;
  justify-content: center;
}
.newspapers__content img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.newspapers__main {
  display: grid;
  gap: 2rem;
}
.newspapers__cart {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.newspapers__description {
  font-weight: 600;
  font-size: clamp(1rem, 0.9671052632rem + 0.1644736842vw, 1.125rem);
  padding: 0 0.75rem;
}
@media screen and (max-width: 300px) {
  .newspapers {
    padding-block: 4rem 4rem;
  }
}
@media screen and (min-width: 400px) {
  .newspapers {
    padding-block: 5rem 4rem;
  }
}
@media screen and (min-width: 460px) {
  .newspapers__main {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 768px) {
  .newspapers {
    padding-block: 5rem 5rem;
  }
  .newspapers__main {
    grid-template-columns: repeat(3, 1fr);
  }
  .newspapers__content {
    grid-template-columns: repeat(5, max-content);
  }
  .newspapers__content img {
    width: 130px;
  }
}
@media screen and (min-width: 1024px) {
  .newspapers {
    padding-block: 5rem 7rem;
  }
  .newspapers__content {
    margin-bottom: 2.5rem;
  }
}

.footer {
  background-color: #1A1A1A;
}
.footer__logo {
  margin-bottom: 1.5rem;
}
.footer__logo img {
  width: 108.46px;
  height: 27.84px;
  -o-object-fit: cover;
     object-fit: cover;
}
.footer__content {
  border-bottom: 1px solid #3A424E;
}
.footer__desc {
  font-weight: 600;
  font-size: clamp(1rem, 0.9671052632rem + 0.1644736842vw, 1.125rem);
  color: #fff;
  margin-bottom: 0.75rem;
}
.footer__social {
  display: flex;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  margin-bottom: 1.5rem;
}
.footer__social-link img {
  background: #313131;
  padding: 6px;
  border-radius: 4px;
}
.footer__app {
  display: flex;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  margin-bottom: 1.5rem;
}
.footer__data {
  margin: 1rem 0 1rem;
  border-bottom: 1px solid #3A424E;
  padding-bottom: 1rem;
}
.footer__title {
  color: #33B44A;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.footer__links {
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
}
.footer__link {
  color: #fff;
  font-weight: 400;
  font-size: 14px;
}
.footer__copyright {
  margin-bottom: 7rem;
}
.footer__copy {
  color: #a3a3a3;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 2rem;
  line-height: 1.5;
}
.footer__action {
  display: flex;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
@media screen and (max-width: 300px) {
  .footer {
    padding-block: 3.5rem 1rem;
  }
  .footer__logo {
    margin-bottom: 1.5rem;
  }
}
@media screen and (min-width: 575px) {
  .footer {
    padding-block: 4rem 1rem;
  }
  .footer__data {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer__copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 9rem;
  }
  .footer__copy {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .footer__data {
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 1.5rem;
  }
  .footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer__actions {
    display: flex;
    -moz-column-gap: 5rem;
         column-gap: 5rem;
  }
}
@media screen and (min-width: 1024px) {
  .footer__data {
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 2.5rem;
    margin: 2.5rem 0 1.5rem;
  }
  .footer__app {
    margin-bottom: 2rem;
  }
  .footer__copyright {
    margin-bottom: 3rem;
  }
  .footer__title {
    margin-bottom: 1.25rem;
  }
  .footer__links {
    row-gap: 1rem;
  }
  .footer__container {
    margin-bottom: 8rem;
  }
}
@media screen and (min-width: 1118px) {
  .footer__container {
    margin-bottom: 3rem;
  }
  .footer__actions {
    -moz-column-gap: 7rem;
         column-gap: 7rem;
  }
  .footer__app {
    padding-right: 2rem;
  }
}/*# sourceMappingURL=main.css.map */